
/*MEDIA QUERY DEL MENU*/

@media screen and (max-width:1200px){
    #desktop-nav{
        display: none;
    }

    #hamburger-nav{
        display: flex;
    }
}

@media screen and (max-width:768px){
   #profile{
    display: grid;
   }

   .section__pic-container{
    display: flex;
    justify-content: center;
    margin-bottom: -100px;
   }
   .section__pic-container img{
   max-width: 300px;
   max-height: 300px;
    place-self: center;
   }
}


@media screen and (max-width:550px){
    .details-containers .skills{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
     }
 }


