@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}


html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

a,
.btn {
    transition: all 0.3s ease;
}

nav,
.nav-links {
    display: flex;
}

#desktop-nav{
    top: 0;
    position: fixed;
    background-color: white;
    z-index: 100;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#hamburger-nav{
    position: fixed;
    background-color: white;
    z-index: 100;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    top:0;
}

.hamburger-menu .menu-links{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hamburger-menu .menu-links li a:hover{
    background-color: rgb(163, 162, 162);
    color: white;
}
a {
    font-family: 'Poppins';
    text-decoration: none;
    color: black;
    text-decoration-color: white;
}


nav {
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.2rem;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181) 10px solid
}

.logo {
    font-size: 2rem;
    cursor: pointer;
    
}



/*MENU DESPLEGABLE*/


#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}


.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: 0.3s all ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: .3s all ease-in-out;
}


.menu-links a {
    display: block;
    padding: 3px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: 0.3s all ease-in-out;
}


.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}


.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}



.hamburger-icon span:first-child {
    transform: none;
}



.hamburger-icon span:first-child {
    opacity: 1;
}



.hamburger-icon span:first-child {
    transform: none;
}




#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
    margin-top: 100px;
}

.abajo{
    padding: 40px;
    text-align: center;
    margin-top: -60px;
    margin-bottom: 30px;
    animation: moveUpDown 2s infinite ease-in-out;
}

.abajo img{
    height: 3rem;
}


.cv {
    position: relative;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: 0.6s all ease-in-out; /* Transición para cambios suaves */
}



.cv-text,
.cv-icon {
    display: inline-block;
    transition: opacity 0.6s ease, transform 0.6s ease; /* Transiciones para suavizar el cambio */
}

.cv-text {
    color: rgb(35, 33, 43);
    /* Inicialmente visible */
    opacity: 1;
    visibility: visible;
}

.cv-icon {
    /* Inicialmente oculto */
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0); /* Inicia el icono oculto (escala 0) */
    font-size: 16px;
}

.cv:hover .cv-text {
    opacity: 0; /* Oculta el texto */
    visibility: hidden; /* Hace el texto completamente invisible y no interactivo */
}

.cv:hover .cv-icon {
    opacity: 1; /* Muestra el icono */
    visibility: visible; /* Hace el icono visible */
    transform: translate(-50%, -50%) scale(1); /* Muestra y escala el icono al tamaño original */
}


@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px); /* Ajusta el valor para definir la distancia del movimiento */
    }
  }


.section__pic-container{
    display: flex;
    width: 400px;
    height: 400px;
    margin: auto 0;
}

.section__pic-container img{
    align-self: center;
    width: 300px;
    height: 300px;
    border-radius: 5%;
}


.section__text {
    align-self: center;
    text-align: center;
}


.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    font-size: 18px;
    text-align: center;
}


.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}


.title {
    font-size: 3rem;
    text-align: center;
}

.main{
    font-size: 70px;
}

.main-2{
    text-align: end;
    font-size: 50px;
}

.texto-desarrollador-1{
font-size: 30px;
text-align: start;
}


.texto-desarrollador{
    font-size: 30px;
    text-align: start;
    }
    .texto-desarrollador-2{
        font-size: 50px;
        text-align: end;
        }
    

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.linkedin img,.git img{
    height: 40px;
    width: 40px;
}

#socials-container .linkedin,#socials-container .git{
    width: 50px;
    height: 50px;
    transition: 0.1s all ease;
    display: grid;
    place-items: center;
    border-radius: 50%;
    padding: 6px;
    transition: 0.3s all ease-in-out;
}

.linkedin:hover img{
    filter: invert(100%);
}

.linkedin:hover{
    background-color: rgb(49, 124, 168);
}

.linkedin img{
    transition: 0.3s all ease-in-out;
}


.git:hover img{
    filter: invert(100%);
}

.git:hover{
    background-color: rgb(28, 29, 29);
}

.git img{
    transition: 0.3s all ease-in-out;
}





.icon {
    cursor: pointer;
    height: 2rem;
}

.btn-container {
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    gap: 1rem;
}


.btn {
    font-family: 'Poppins';
    font-weight: 600;
    transition: 0.3s all ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 0.3rem;
}





.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}



.btn-color-1{
    background-color: rgb(53, 53, 53);
    color: white;

}

.btn-color-2:hover{
    color: black;
}




.btn-color-2 {
    color: white;
    background-color: #a9c6ec;
}




.btn-container{
    gap: 2rem;
}

img.about-pic{
    border-radius: 50%;
}

#about {
    position: relative;
    background: linear-gradient(to bottom, #d0e2f0 0%, #ffffff 100%); /* Gradiente que se disipa completamente hacia el blanco */
    color: black;
    padding: 70px 100px;
    padding-bottom: 150px;
}





.section-container{
    gap: 4rem;
    height: 80%;
    display: flex;
    width: 70%;
    margin: 0 auto;
}



.about-containers{
    gap: 2rem;
   margin-bottom: 2rem;
   margin-top: 2rem;
}

.about-details-container{
    justify-content: center;
    flex-direction: column;
}


.arrow {
filter: invert(100%);
}

.caja-arrow{
    display: grid;
    place-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    right: 4rem;
    bottom: 2.5rem;
    width: 40px;
    height: 40px;
    background-color: rgb(110, 118, 228); /* Mantén el fondo de la flecha en el color deseado */

}

.arrow img {
    filter:  invert(100%); /* Haciendo la imagen blanca */
}



.caja-arrow.arrow-1{
    margin-bottom: 39px;
}






.details-container{
    padding: 1.5rem;
    flex: 1;
    background-color: white;
    border-radius: 1rem;
    border: rgb(53,53,53) 0.1rem solid;
    border-color: rgb(163,163,163);
    text-align: center;
    color: rgb(32, 36, 66);
}

.section__pic-container{
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.text-container p{
    color: black;
    opacity: 0.6;
}

#experience{
    width: 100%;
    margin: 0 auto;
    margin-top: 150px;
}

.experience-details-container{
    display: flex;
    justify-content: center;
}

#experience{
    position: relative;
}


.cv
{
    color: black;
    
}


/*SOLUCIONAR ABAJO*/


.article-container {
    border-radius: 20px;
    color: black;
    text-align: center;
    margin: 10px;
    display: grid;
    place-items: center;
    transition: 0.3s all ease;
}




/*FONDO PARA CUANDO SE HACE HOVER EN LAS CARTAS*/
.article-container:hover{
    
}

.stack{
    padding-bottom: 25px;
}

.article-container article div p{
    font-size: 14px;
}

.experience-details-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}


.details-containers{
    width: 60%;
}

.details-containers h2{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.details-containers .skills{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   
}

.flip-card{
    transition: 0.3s all ease-in-out;
}

.flip-card:hover{
    transform: scale(1.2);
}

.flip-card-front{
    padding: 15px;
}

.flip-card-front img{
    width: 80px;
    height: 80px;
}

.experience-details-container{
    width: 50%;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    align-items: flex-start;
    gap: 100px;
}




.custom-shape-divider-top-1724281488 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1724281488 svg {
    position: relative;
    display: block;
    width: calc(108% + 1.3px);
    height: 93px;
}

.custom-shape-divider-top-1724281488 .shape-fill {
    fill: #FFFFFF;
}

.about-me{
    padding-top: 100px;
}

.custom-shape-divider-bottom-1724281422 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1724281422 svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 117px;
}

.custom-shape-divider-bottom-1724281422 .shape-fill {
    fill: #FFFFFF;
}


  
  .container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100vh;
  }
  
  .footer {
    margin-bottom: 4rem;
  }
  
